<mat-toolbar color="primary">

  <button aria-label="Example icon-button with menu icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>ITA</span>
  <span class="nav-spacer"></span>
  <button aria-label="Example icon-button with heart icon" mat-icon-button routerLink="register"
          style="margin-right:20px">
    <span>Register</span>
  </button>
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
