<mat-card class="register-box">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #f="ngForm" *ngIf="!isSuccessful" fxLayout="row" name="form">
        <div class="form-group">
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <label>
                    <input [(ngModel)]="form.username" matInput name="username" placeholder="username"
                           required type="text">
                  </label>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <label>
                    <input [(ngModel)]="form.email" class="form-control" matInput name="email" placeholder="email"
                           required
                           type="email">
                  </label>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <label>
                    <input [(ngModel)]="form.password" matInput minlength="5" name="password" placeholder="Password"
                           required
                           type="password">
                  </label>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <mat-checkbox
                    [formControlName]="field.keycloakValue">
                  </mat-checkbox>
                  {{keycloak}}
                </label>
              </td>
            </tr>
          </table>
        </div>
      </form>
      <h3 *ngIf="isSuccessful">Registration completed</h3>
      <h2 *ngIf="isSignUpFailed">{{errorMessage}}</h2>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="register()" *ngIf="!isSuccessful" color="primary" mat-raised-button>Submit</button>
    </mat-card-actions>
  </div>

</mat-card>
