<mat-card class="login-box">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form #f="ngForm" fxLayout="row" name="form">
        <div class="form-group">
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <input [(ngModel)]="form.username" matInput name="username" placeholder="username"
                         required type="text">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input [(ngModel)]="form.email" class="form-control" matInput name="email" placeholder="email"
                         required
                         type="email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input [(ngModel)]="form.password" matInput name="password" placeholder="Password" required
                         type="password">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="register()" color="primary" mat-raised-button>Submit</button>
    </mat-card-actions>
  </div>

</mat-card>
